#sources #lower {
    width: 100%;
    padding: 5vh 20%;
    box-sizing: border-box;
    text-align: center;
    background: #003060;
    margin: 0;
    color: #FFF;
}
#sources .img {
    width: 100%;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sources .content {
    padding: 5vh 20%;
    color: #FFF;
    text-align: center;
}
#sources #tip {
    background: #63b5b5;
    text-align: center;
    color: #000;
    padding: 5vh;
}
#sources #tip h2 {
    margin: 0;
}
#sources #tip h2 img {
    height: 40px;
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
    vertical-align: bottom;
}
#sources #tip #info {
    margin: 0;
    padding: 5vh 20% 0;
}
#sources #tip #button {
    width: 30%;
    margin: 5vh auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#248FCF), to(#026FAE));
    background: linear-gradient(#248FCF, #026FAE);
    text-align: center;
    color: #FFF;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}
#sources #tip #button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#004D8C), to(#026FAE));
    background: linear-gradient(#004D8C, #026FAE);
}
@media screen and (max-width: 768px) {
    #sources #lower {
        padding: 5vh 10%;
    }
    #sources .content {
        padding: 5vh 10%;
    }
    #sources #tip #info {
        padding: 5vh 10% 0;
    }
}